#search-cep {
    margin-top: 30px;
}

#tableResult {
    padding: 5px;
}

.active {
    display: block !important;
}

.displayInvisible {
    display: none;
}

.preloader-wrapper {
    margin-top: 9px;
}

.valueSearch {
    display: none;
}