#search-cep {
    padding: 5px;
    margin-top: 30px;
}

#tableResult {
    padding: 5px;
}

.active {
    display: block !important;
}

.displayInvisible {
    display: none;
}

.preloader-wrapper {
    margin-top: 9px;
}

.valueSearch {
    display: none;
}

#search-address .select-dropdown {
    max-height: 300px;
}

#search-address .row {
    padding: 5px;
    margin-top: 30px;
}

#print-error {
    padding: 5px;
}